@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-500.woff') format('woff'); 
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), 
    url('../fonts/roboto-v29-latin-700.woff') format('woff'); 
}

@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/fredoka-one-v12-latin-regular.woff2') format('woff2'), 
    url('../fonts/fredoka-one-v12-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/hind-madurai-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/hind-madurai-v10-latin-500.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-500.woff') format('woff');
}
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/hind-madurai-v10-latin-600.woff2') format('woff2'), 
    url('../fonts/hind-madurai-v10-latin-600.woff') format('woff'); 
}

@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/hind-madurai-v10-latin-700.woff2') format('woff2'), 
    url('../fonts/hind-madurai-v10-latin-700.woff') format('woff'); 
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Fredoka One', 'Hind Madurai', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1125px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}



/* HEADER section is here */

.header {
    background-color: rgba(242, 206, 218, 0.3);
    padding-top: 10px;
    padding-bottom: 37px;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 444px;
}

.header__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.7;
}

.header__item .header__link-active {
    color: #D23166;
}

.header__link:hover {
    color: #150101;
    opacity: 1;
}

.btn {
    padding: 14px 50px 13px 50px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    background-color: #D23166;
    border-radius: 5px;
    border: 2px solid #D23166;
}

.btn:hover {
    background-color: #FAFAFA;
    color: #D23166;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}


/* HERO section is here */

.hero {
    background-color: rgba(242, 206, 218, 0.3);
}

.hero__container {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 851px;
    background-position: calc(50% + 340px) center;
    padding-top: 166px;
    padding-bottom: 213px;
}

.hero__wrapper {
    width: 665px;
}

.hero__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;    
    color: #0F0101; 
    margin-bottom: 6px;   
}

.hero__heading {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
    margin-bottom: 35px;
}

.hero__heading-span {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #D23166;
    opacity: 0.9;
}

.hero__content {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
    width: 523px;
    margin-bottom: 50px;
}


/* DELIVERY section is here */


.delivery__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.delivery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.delivery__item {
    width: 250px;
    text-align: center;
    padding: 33px 26px 27px 26px;
}

.delivery__item:hover {
    -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.delivery__img-wrapper {
    width: 52px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

.delivery__heading {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
}

.delivery__content {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

/* OATMEA section is here */

.oatmea {
    background-color: rgba(242, 206, 218, 0.3);
    margin-bottom: 137px;
}

.oatmea__container {
    background-image: url(../images/oameta-bg.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 210px) center;
    padding-top: 141px;
    padding-bottom: 146px;
}

.oatmea__wrapper {
    width: 442px;
}

.oatmea__heading {
    width: 349px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;    
    color: #150101;
    margin-bottom: 16px;
}

.oatmea__content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin-bottom: 35px;
}

/* PRODUCT section is here */

.product__container {
    margin-bottom: 149px;
}

.product__heading {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
    margin-bottom: 64px;
}

.product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
}

.product__item:not(:last-child) {
    margin-right: 39px;
}

.product__item .product__link-active {
    border-bottom: 3px solid #D23166;
}

.product__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.product__link:hover {
    color: #000000;
    opacity: 1;
}


.products__item:nth-child(even){
 -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; 
}

.products-item {
    border: 5px solid red;
}

.products__heading {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 11px;
}

.products__three-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 260px;
    margin-bottom: 26px;
}

.products__heading-big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
    color: #000000;
    margin-bottom: 5px;
}

.products__heading-little {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;   
    color: #000000;    
    opacity: 0.7;
}

.products__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 28px;
}

.products__text-q {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.products__text-in-q {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;    
    opacity: 0.7;
    width: 322px;
    margin-bottom: 36px;
}

.products__top-img-in-q {
    margin-top:  -85px;
    margin-right: 13px;
}

.products__bottom-img-in-q {
    margin-left: -45px;
}

.products__cost {
    margin-bottom: 16px;
}

.products__cost-new {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;    
    color: #000000;
    margin-right: 5px;
}

.products__cost-old {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;    
    color: #000000;    
    opacity: 0.7;
}

.products__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.products__content {
    width: 454px;
}

.products__left-arrow {
    margin-right: 15px;
}

.products__human-list {
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.products__men, .products__girl, .products__girl-2 {
    border-radius: 50%;
    margin-right: 15px;
}

.products__girl {
    border: 1px solid #D64374;
}


/* ORDER section is here */

.order {
    background-color: rgba(242, 206, 218, 0.3);
    margin-bottom: 111px;
}

.order__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.order__bg {
    margin-top: 35px;
    margin-bottom: 45px;
    border-radius: 25px;
}

.order__bg:hover {
    -webkit-box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.25);
            box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.25);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.order__wrapper {
    margin-left: 135px;
}

.order__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 20px;
}

.order__content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    margin-bottom: 31px;
}

.order__list {
    margin-bottom: 31px;
}

.order__item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 20px;
}

.order__img {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    padding: 7px 10px 7.5px 9px;
    margin-left: 10px;
}

/* QUESTION section is here */

.question__container {
    margin-bottom: 110px;
}
.question__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    width: 522px;
    margin: auto;
    margin-bottom: 36px;
}

.question__form {
    width: 637px;
    margin: auto;
}

.question__input {
    width: 303px;
    padding: 29px 156px 29px 25px;
    border:  1px solid #FFA3A3;
    border-radius: 8px;
}

option input::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    color: #0F0000;    
    opacity: 0.6;
    width: 122px;
    border: 1px solid red;
}

option input::-moz-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    color: #0F0000;    
    opacity: 0.6;
    width: 122px;
    border: 1px solid red;
}

option input:-ms-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    color: #0F0000;    
    opacity: 0.6;
    width: 122px;
    border: 1px solid red;
}

option input::-ms-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    color: #0F0000;    
    opacity: 0.6;
    width: 122px;
    border: 1px solid red;
}

option input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;    
    color: #0F0000;    
    opacity: 0.6;
    width: 122px;
    border: 1px solid red;
}

.question__form-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}

.question__form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.question__form-bottom .question__input {
    width: 503px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.question__btn {
    padding: 26px 44px 25px 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;        
    color: #FFFFFF;        
    background-color: #D23166;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #D23166;
}

.question__btn:hover {
    background-color: #FAFAFA;
    color: #D23166;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

/* FOOTER section is here */

.footer {
    background-color: #0A0808;
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__left {
    width: 207px;
    margin-right: 37px;
    padding-bottom: 114px;
}

.footer__logo {
    margin-top: 70px;
    margin-bottom: 9px;
}

.footer__content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 25px;
}

.footer__list-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.footer__list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__item{
    margin-right: 10px;
}

.footer__middle {
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.footer__left-link, .footer__right-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer__left-item .footer__left-link-active {
    color: #FFFFFF;
}

.footer__right {
    margin-top: 139px;
    margin-left: 151px;
}

.footer__right-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.footer__form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__input {
    width: 263px;
    padding: 20px 164px 19px 32px;
    background-color: #0A0808;
    color: #FFFFFF;
    opacity: 0.6;
    border: 2px solid #D64374;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 17px;
}

.footer__btn {
    width: 125px;
    height: 58px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;    
    color: #FFFFFF;
    background-color: #D23166;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid #D23166;
}

.footer__item2 {
    margin-right: 20px;
}